/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    }
/* TELA */
body{
    background-color: #28314d;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .about{
    line-height: 1;
 }

h3{
    font-size: 2rem;

}
.h3_ul{
    display: flex;
}

h1{
    font-size: 5rem;

}


h2{
    font-size: 4rem;
}

ul{
margin-top: 15px;
margin-left: 20px;
}

li{
    display: inline;
    margin-left: 10px;
}

a img{
    height: 3rem; 
}
