* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #1C1C1C;
}

header {
    background: #1A1919;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #8E67ED;

}

ul {
    list-style: none;
    display: flex;
    gap: 54px;
}

li {}